{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}

<div class="container card p-3 shadow-lg " style="width: 500px;">
    <h4 class="text-center mb-3">Change Password</h4>
    <form action="/change_password" method="post">
        <div class="mb-3">
            <label for="depositAmount" class="form-label">Enter Password</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="current_password" placeholder="Current Password" type="password">
        </div>
        <div class="mb-3">
            <label for="depositAmount" class="form-label">Enter New Password</label>
            <input class="form-control mx-auto w-auto" name="new_password" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <label for="depositAmount" class="form-label">Confirm Password</label>
            <input class="form-control mx-auto w-auto" name="confirm_password" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
</div>

{% endblock %}
