{% extends "layout.html" %}

{% block title %}
    Deposit
{% endblock %}

{% block main %}

<div class="container card p-3 shadow-lg " style="width: 500px;">
    <h4 class="text-center mb-3">Deposit</h4>
    <form id="depositForm" action="/deposit" method="post">
        <div class="mb-2">
            <label for="depositAmount" class="form-label">Deposit Amount:</label>
            <input type="number" class="form-control" id="depositAmount" name="depositAmount" min="500.00" max="999999999.00" placeholder="$0000.00" required>
            <div id="errorMessage" class="text-danger mt-1"></div>
        </div>
        <button type="submit" class="btn btn-success w-100">Deposit</button>
    </form>
</div>

{% endblock %}
