{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Recipient</th>
        <th scope="col">Amount</th>
        <th scope="col">Type</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
        <tr>
          <th scope="row">{{ transaction.date_time }}</th>
          <td>{{ transaction.from_or_to }}</td>
          <td>${{ transaction.amount|round(2) }}</td>
          <td>{{ transaction.transaction_type }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
