{% extends "layout.html" %}

{% block title %}
    Withdraw
{% endblock %}

{% block main %}

<div class="container card p-3 shadow-lg" style="width: 500px;">
    <h4 class="text-center mb-3">Withdraw</h4>
    <form id="withdrawForm" action="/withdraw" method="post">
        <div class="mb-2">
            <label for="withdrawAmount" class="form-label">Withdraw Amount:</label>
            <input type="number" class="form-control" id="withdrawAmount" name="withdrawAmount" placeholder="$0000.00" required>
            <div id="errorMessage" class="text-danger mt-1"></div>
        </div>
        <button type="submit" class="btn btn-danger w-100">Withdraw</button>
    </form>
</div>




{% endblock %}
